.accounts-suggestion {
	input {
		width: 260px;
		height: 30px;
		padding: 0px 10px;
		font-family: Helvetica, sans-serif;
		font-weight: 300;
		border: 1px solid #aaa;
		border-radius: 3px;
	}
	.react-autosuggest__container {
		position: relative;
		&::before {
			position: absolute;
			content: ' \25be';
			top: 0px;
			right: -8px;
			height: 20px;
			width: 20px;
		}
	}

	.react-autosuggest__input {
		width: 260px;
		height: 30px;
		padding: 0px 10px;
		font-family: Helvetica, sans-serif;
		font-weight: 300;
		border: 1px solid #aaa;
		border-radius: 3px;
	}

	.react-autosuggest__input--focused {
		outline: none;
	}

	.react-autosuggest__suggestions-container {
		display: none;
		max-height: 400px;
		overflow: scroll;
		line-height: 20px;
	}

	.react-autosuggest__suggestions-container--open {
		display: block;
		position: absolute;
		width: 280px;
		border: 1px solid #aaa;
		background-color: #fff;
		font-family: Helvetica, sans-serif;
		font-weight: 300;
		z-index: 2;
	}

	.react-autosuggest__suggestions-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.react-autosuggest__suggestion {
		cursor: pointer;
		padding: 10px 20px;
	}

	.react-autosuggest__suggestion--highlighted {
		background-color: #ddd;
	}
}
